<div class="container-fluid activepanel">
    <div class="container-fluid leftsideElements">
        <div class="container-fluid siteLogo" style="margin-left: 20px;">
            <a class="navbar-brand topsitename" asp-area="" asp-controller="Home" asp-action="Index" style="font-size: 22px;">
                <img src="~/images/graduationcap.svg" width="38px" style="padding-bottom: 7px;" />
                E-tutor
            </a>
        </div>
        <div class="container-fluid siteBrowse">
            <div class="dropdown" style="margin-right: 20px; border: 1px solid #E9EAF0; padding: 8px;">
                <select name="browse" id="browse">
                    <option value="">Browse</option>
                </select>
            </div>

            <input class="searchBar" type="text" id="searchBar" placeholder="What do you want learn..." />
        </div>
    </div>

    <div class="container-fluid rightsideElements">


        <div class="container-fluid siteIcons">
            <a id="notification">
                <img src="~/images/bell.svg" />
            </a>
            <a id="favorite">
                <img src="~/images/heart.svg" />
            </a>
            <a id="shoppingCart">
                <img src="~/images/shoppingcartsimple.svg" />
            </a>
        </div>

        <button id="createAccountBTN">Create Account</button>
        <button id="signInBtn">Sign In</button>
    </div>


</div>
<hr style="border-top: 1px solid grey; margin-bottom: 0px;" />