
<link href="~/css/allcategoriesstyle.css" rel="stylesheet" />
<div class="container browseTopCategory">
    <h2>Browse top category</h2>
    <div class="container">
        <div class="row">
            <div class="col" style="background-color: #EBEBFF">
                <img src="~/images/categories/frame label.svg" />
                <p>
                    Label
                    <br /><span>63,476 Courses</span>
                </p>
            </div>
            <div class="col" style="background-color: #E1F7E3">
                <img src="~/images/categories/frame 145 business.svg" />
                <p>Business <br /> <span>52,822 Courses</span></p>
            </div>
            <div class="col" style="background-color: #FFF2E5">
                <img src="~/images/categories/frame 145 financeaccounting.svg" />
                <p>Finance & Accounting
                    <br /><span>33,841 Courses</span>
                </p>
            </div>
            <div class="col" style="background-color: #FFF0F0">
                <img src="~/images/categories/frame 145 itsoftware.svg" />
                <p>It & Software<br /> <span>22,649 Courses</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="background-color: #FFFFFF;">
                <img src="~/images/categories/frame 145 personaldevelopment.svg" />
                <p>Personal Development <br /> <span>20,126 Courses</span></p>
            </div>
            <div class="col" style="background-color: #F5F7FA">
                <img src="~/images/categories/frame 145 officeproductivty.svg" />
                <p>Office Productivity <br /> <span>13,932 Courses</span></p>
            </div>
            <div class="col" style="background-color: #EBEBFF">
                <img src="~/images/categories/frame 145 marketing.svg" />
                <p>Marketing<br /> <span>12,068 Courses</span></p>
            </div>
            <div class="col" style="background-color: #F5F7FA">
                <img src="~/images/categories/frame 145 photographyvideo.svg" />
                <p>Photography & Video<br /> <span>6,196 Courses</span></p>
            </div>

        </div>
        <div class="row">
            <div class="col" style="background-color: #FFF2E5">
                <img src="~/images/categories/frame 145 lifestyle.svg" />
                <p> Lifestyle<br /> <span>2,736 Courses</span> <p>
            </div>
            <div class="col" style="background-color: #FFEEE8">
                <img src="~/images/categories/frame 145 design.svg" />
                <p> Design</p>
                <p>2,600 Courses<p>
            </div>
            <div class="col" style="background-color: #E1F7E3">
                <img src="~/images/categories/frame 145 healthfitness.svg" />
                <p>Health & Fitness <br /> <span>1,678 Courses </span><p>
            </div>
            <div class="col" style="background-color: #FFF2E5">
                <img src="~/images/categories/frame 145 music.svg" />
                <p>Music <br /> <span>959 Courses </span></p>
            </div>

        </div>


    </div>

    <p class="browseAll">
        We have more category & subcategory. <span style="color: #FF6636;">Browse All</span>
        <img src="~/images/arrowrightbrowse.svg" />
    </p>
</div>