@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/homepage.css" rel="stylesheet" />
<div class="topdiv">
    <div class="textandimage">
        <div class="container textSide">
            <h1 class="mainsen">
                Learn with expert <br /> anytime anywhere
            </h1>
            <p>
                Our mision is to help people to find the best course <br /> online and learn with expert anytime, anywhere.
            </p>
            <button class="createAccount"> Create Account </button>
        </div>
        <img src="~/images/homepage.svg" class="homepageimagecss" />
    </div>
</div>

<div class="container-fluid browseTopCategory">
    <h2>Browse top category</h2>
    <div class="container">

    </div>

    <p>
        We have more category & subcategory. <span style="color: #FF6636;">Browse All</span>
        <img src="~/images/arrowrightbrowse.svg" />
    </p>
</div>