@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/homepagestyle.css" rel="stylesheet" />
<div class="topdiv">
    <div class="textandimage">
        <div class="container textSide">
            <h1 class="mainsen">
                Learn with expert <br /> anytime anywhere
            </h1>
            <p class="imagetext">
                Our mision is to help people to find the best course <br /> online and learn with expert anytime, anywhere.
            </p>
            <button class="createAccount"> Create Account </button>
        </div>
        <img src="~/images/homepage.svg" class="homepageimagecss" />
    </div>
</div>

@Html.Partial("_HomeAllCategory.cshtml")