@model UpdatePasswordInstructorViewModel

<div class="container mt-5 changepassword">
    <h5>Change Password</h5>
    <form asp-action="UpdatePassword" asp-controller="Instructor">
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" placeholder="Password" asp-for="CurrentPassword">
            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Password" asp-for="NewPassword">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm new password" asp-for="ConfirmPassword">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>
        <button type="submit" id="submitsettingsinformation" class="btn btn-primary">Save Changes</button>
    </form>

</div>

