@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_InstructorLayout";
    ViewData["Title"] = "Create new course";
}
<div class="card mt-5">

    @Html.Partial("~/Views/Instructor/CreateANewCourseView.cshtml")
   <div class="card mt-4">

   </div>
</div>
<style>
 
</style>
