
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Basic Information <span class="badge badge-success">7/12</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Advance Information</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Curriculum</a>
    </li>
    <li class="nav-item ml-auto">
        <a class="nav-link" href="#">Publish Course</a>
    </li>
</ul>