@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_InstructorLayout";
    ViewData["Title"] = "Dashboard";
    ViewBag.PageName = "Dashboard";
}

<div class="container mt-sm-5">
    @Html.Partial("~/Views/Instructor/_CardDashboardPartialView.cshtml")
</div>