<link href="~/css/studentstyle.css" rel="stylesheet" />
<div class="container-fluid mainbody">
    <div class="StudentPage">
        <div class="container containerDiv">

            <div class=" dashboard-header">
                <div class="row">
                    <div class="col col-sm-1 ">
                        <div class="profile-pic">
                            <img src="~/images/profilepicture.svg" alt="Profile Picture" class="profile-pic" />
                        </div>
                    </div>
                    <div class="col col-sm-6 ">
                        <div class="user-info">
                            <h2>Kevin Gilbert</h2>
                            <p>Web Designer & Best-Selling Instructor</p>
                        </div>
                    </div>
                    <div class="col col-sm-5">
                        <div class="become-instructor">
                            <a href="#" class="btn">Become Instructor</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-footer">
                <div class="nav-links ">
                    <ul>
                        <li class="active"><a href="#">Dashboard</a></li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Teachers</a></li>
                        <li><a href="#">Message</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Purchase History</a></li>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="container linksAndResults">
            <partial action="StudentDashboard"></partial>
            @Html.Partial("_StudentDashboard")
        </div>

    </div>
    <div class="container linksAndResults coursesSection">
        <div id="courseCarousel" class="carousel slide">
            <div class="row">

                <div class="col col-sm-6">
                    <h4><b>Let’s start learning, Kevin</b></h4>
                </div>
                <div class="col col-sm-6 caruselbuttons">
                    <div class="carousel-controls">
                        <button class="carousel-control-btn" id="prevBtn" data-target="#courseCarousel" data-slide="prev">
                            <img src="~/images/arrowleft.svg" />

                        </button>
                        <button class="carousel-control-btn" id="nextBtn" data-target="#courseCarousel" data-slide="next">
                            <img src="~/images/arrowright.svg" />

                        </button>
                    </div>
                </div>


            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        @await Component.InvokeAsync("StudentCourses")
                    </div>
                </div>
            </div>
            
        </div>
    </div>



</div>




