@model List<StudentWishListViewModel>?
@{
    Layout = "_StudentLayout";
    int? countEl = Model?.Count;
    
}

<style>
    .wishListTableMain{
        border: 1px solid #E9EAF0;
    }
    .wishListTableHeader{
        padding: 10px;
        color: #4E5566;
        font-size: 12px;
        font-weight: 500;
        width: 100%;
        border-bottom: 1px solid #E9EAF0;
    }



    .wishListTableMain .row{
        margin: 5px;

    }

  

    .wishListTable img{
        padding: 3px 0px;
    }
    #courseName{
        color: #1D2026;
        font-size: 15px;
        font-weight: 600;
    }

    #StarPoint{
        color: #1D2026;
        font-size: 12px;
    }

    
    #CourseInstructor{
        color: #4E5566;

    }

    #CourseInstructorCourseBy{
        color: #A1A5B3;
    }

    .courseNameclass{
        margin-bottom: 20px;
    }

    #priceSpan{
        color: #FF6636;
        display: inline-block;
        margin-top: 35%;
    }

    .buyNow, .addToCart, .wishButton {
        margin-top: 35%;
        border: none;
        font-size: 13px;
    }

    .buyNow, .addToCart {
        width: 120px;
        height: 40px;
        font-weight: 600;
    }

    .addToCart{
        color: white;
        background-color: #FF6636;
        font-weight: 500!important;
    }
    
    #wishImg, .wishButton {
        width:42px;
        height: 42px;
        background-color: transparent;
        margin-top: 63%;
    }

    .linefortable{
        width: 96.2%;
        height: 1px;
        margin: 1px auto 15px auto;
        border-top: 2px solid #d8d9e3;
        color: #d8d9e3;
    }

    .imageCol{
        padding: 0px;
    }
</style>

<div  class="results">

    <h5>Wishlist</h5>
    <div class=" wishListTableMain">
        <div class="row wishListTableHeader">
            <div class="col col-6">
                <span>COURSE</span>
            </div>
            <div class="col col-2">
                <span>PRICES</span>
            </div>
            <div class="col col-4">
                <span>ACTION</span>
            </div>
        </div>
        @if (Model is not null)
        {
            <div class="wishListTableBody">

                @foreach (var item in Model)
                {
                    <div class="row mainRowInBody">
                        <div class="col col-6">
                            <div class="row">
                                <div class="col col-4 imageCol">
                                    <img src=@item.ImgPath width="150" />
                                </div>
                                <div class="col col-8">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="23" height="23">
                                            <polygon points="50,15 61,35 84,35 66,50 71,72 50,60 29,72 34,50 16,35 39,35" fill="orange" />
                                        </svg>
                                        <span id="StarPoint"><b>@item.StarPoint</b></span>
                                    </div>
                                    <div class="courseNameclass">
                                        <p id="courseName">@item.CourseName</p>
                                    </div>
                                    <div class="bottomName">
                                        <p id="CourseInstructor">
                                            <span id="CourseInstructorCourseBy">Course By: </span>
                                            @{
                                                int? s = item.Instructors.Count;
                                            }
                                            @foreach (var i in item.Instructors)
                                            {
                                                @i.InstructorFullName
                                                if (s > 1)
                                                {
                                                    <span>•</span>
                                                }

                                                s -= 1;

                                            }

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-2 " style="text-align: center">
                            <span id="priceSpan">$@item.Price</span>
                        </div>
                        <div class="col col-4">
                            <div class="row">
                                <div class="col col-5">
                                    <button class="buyNow">Buy Now</button>
                                </div>
                                <div class="col col-5">
                                    <button class="addToCart">Add To Cart</button>

                                </div>
                                <div class="col col-2">
                                    <button class="wishButton"><img id="wishImg" src="~/images/student/button.svg" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    countEl -= 1;
                    if (countEl > 0)
                    {
                        <hr class="linefortable" />
                    }
                }
            </div>
        }
        else
        {
            <div style="text-align: center;">

                <h5>Wishlist is empty</h5>
            </div>
        }


    </div>
</div>